<plugin name='apidocs' version='0.1' grailsVersion='2.2 &gt; *'>
  <author>Nauman Leghari</author>
  <authorEmail>laghari78@yahoo.com</authorEmail>
  <title>Grails Apidocs Plugin</title>
  <description>Plugin to generate REST Api documentation.
</description>
  <documentation>http://grails.org/plugin/grails-apidocs</documentation>
  <type>ApidocsGrailsPlugin</type>
  <resources>
    <resource>ApiDocsUrlMappings</resource>
    <resource>apidocs.ApiDocsController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>